.main{
    margin-top: 50px;
    .main-container{
        .bi-people{
           margin-bottom: 3px;
        }
        .user-img{
            width: 300px;
            height: 300px;   
            border: 3px solid black;
        }
    }
}


