.main{
    margin-top: 50px;
    .main-container{
        .bi-people{
           margin-bottom: 3px;
        }
        .user-img{
            width: 100%;
            max-width: 300px;
            height: auto;   
            border: 3px solid black;

        }
        .social{
            i{
                font-size: 18px;
                margin-right: 5px;
            }
            border-bottom: 1px solid rgb(99, 98, 98);
        }
        .pins{
            border: 1px solid gray;
            border-radius: 10px;
            padding: 15px 20px;
            i{
                font-size: 15px;
            }

            a{
                color: #073F97;
                font-weight: 500;
                font-size: 15px;
            }
            p{
                margin-bottom: 12px;
            }
            div > p{
                margin-bottom: 7px;
            }
        }
        .public{
            border: 1px solid black;
            padding: 2px 8px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            font-size: 10px;
            font-weight: 600;
            margin-left: 5px;
}
        .about{
            border: 1px solid gray;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            h2,h4{
                border-bottom: 1px solid gray;
                padding-bottom: 10px;
                margin-bottom: 15px;
            
            }
            h4{
                margin-top: 20px;
            }
            .medium{
                a{
                   border-radius: 4px;
                padding: 2px 8px;
                background-color: black;
                color: white;
                font-size: 11px;  
                }
               
            }
            .linkedin{
                a{
                  border-radius: 4px;
                padding: 2px 8px;
                background-color: #0F7AB2;
                color: white;
                font-size: 11px;  
                }
                
            }
        }
        .green-repos{
            margin-top: 20px;
            .repo-img{
                border: 1px solid gray;
                border-radius: 8px 8px 0 0;
                padding: 8px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    }

}

@media (max-width:768px){
    .main{
        .main-container{
            .user-img{
        width: 120px;
        height: auto;   
    } 
        }
    }
   
}
