.offcanvas-body{
    ul{
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
        li{
            a{
                i{
                    font-size: 1.1rem;
                    margin-right: 5px;
                }
            }
        }
    }
}